



*{
    padding: 0;
    margin: 0;
}

.card{
    border-radius: 15px;
    /* box-shadow: 5px 10px; */
   height: 200px; 
   max-width: 750px !important;

   
}
.card-container{
padding-top: 40px;
margin-left: 67px;
}


.img-fluid {
  
   
    margin-left: 46px;
    max-width: 75% !important;
     padding: 5px 5px;
}

.card-body {
    margin-left: 55px;}

  .Reorder_btn{
        margin-left: 225px;

    margin-top: -85px;}


    .BTN {
      width: 30%;
margin-left: 19%;
        margin-top: 34px;
        
       
        background: #1158a8;
        border-color: rgb(243, 243, 228);
        color: #fff;
        transition: background 300ms ease-in-out;
        background-image: linear-gradient(
    45deg
    ,#63c4c9 50%, transparent 50%);
        background-position: 100%;
        background-size: 400%;
        height: 50px;
        border-radius: 10px;
      }
    
    
      
     
      .BTN:hover {
        background-position: 0;
      }

      .checkout-btn{
        margin-top: 25px;
        width: 30%;
     
        margin-right: 567px;
        background: #1157a8;
        border-color: rgb(243, 243, 228);
        color: #fff;
        transition: background 300ms ease-in-out;
        background-image: linear-gradient(
    45deg
    ,#63c4c9 50%, transparent 50%);
        background-position: 100%;
        
        background-size: 400%;
        height: 50px;
        border-radius: 10px;

      }

      .card-medicine-container{
        padding-top: 40px;
        padding-right: 573px;
        /* margin-left: 50px; */

      }